In [4]:
import numpy as np

# Looping Through Arrrays

In [5]:
arrA = np.array([[11, 12, 13], [14, 15, 16]])
print(arrA)

[[11 12 13]
 [14 15 16]]

In [6]:
for x in arrA: # looping through first row
    print(x * 2) # multiply each row by 2

[22 24 26]
[28 30 32]

In [7]:
# doubling each individual number one by one 
for x in arrA: 
    for y in x: 
        print(y * 2)

22
24
26
28
30
32

### Difference Between Loops
- first loop multiplies each row by 2
- second loop doubles each values one by one

In [8]:
loop_result = []

for x in arrA:
    for y in x:
        loop_result.append(int(y * 2)) # used int to remove int type 
print(loop_result) # printing a list like doubled values

[22, 24, 26, 28, 30, 32]

# Joining and Stacking Arrays

In [9]:
joined_array_1 = np.concatenate((arrA, arrA), axis = 0)
print(joined_array_1)

[[11 12 13]
 [14 15 16]
 [11 12 13]
 [14 15 16]]

In [10]:
joined_array_2 = np.concatenate((arrA, arrA), axis = 1)
print(joined_array_2)

[[11 12 13 11 12 13]
 [14 15 16 14 15 16]]

In [11]:
stacked_array_1 = np.stack((joined_array_1, joined_array_1))
print(stacked_array_1)

[[[11 12 13]
  [14 15 16]
  [11 12 13]
  [14 15 16]]

 [[11 12 13]
  [14 15 16]
  [11 12 13]
  [14 15 16]]]

In [12]:
try:
    stacked_array_2 = np.stack((joined_array_1, joined_array_2))
    print(stacked_array_2)
except ValueError as c:
    print("Error:", c)

Error: all input arrays must have the same shape

### Why it's an error
The shapes of both arrays are different, joined array has a shape of (4,3) and joined array has a shape of (2,6) demonstrating they are not compatible

In [13]:
# hstack will focus on horizontal arrays
# vstack will focus on vertical arrays
# dstack will focus on creating 3D arrays

h_stack = np.stack((arrA, arrA))
print(h_stack)

# stacking the array side by side

[[[11 12 13]
  [14 15 16]]

 [[11 12 13]
  [14 15 16]]]

In [14]:
v_stack = np.vstack((arrA, arrA))
print(v_stack)

# stacking the array vertically and adding rows

[[11 12 13]
 [14 15 16]
 [11 12 13]
 [14 15 16]]

In [15]:
d_stack = np.dstack((arrA, arrA))
print(d_stack)

# creating new dimension in the array by using a stacking on itslef method

[[[11 11]
  [12 12]
  [13 13]]

 [[14 14]
  [15 15]
  [16 16]]]

# Splitting Arrays

In [16]:
splitsky = np.array_split(joined_array_1, 2)
print(splitsky)

[array([[11, 12, 13],
       [14, 15, 16]]), array([[11, 12, 13],
       [14, 15, 16]])]

In [17]:
sliterino = np.array_split(joined_array_1, 3)
print(sliterino) # the array moves into three seperate part and the second and third are horiztonal

[array([[11, 12, 13],
       [14, 15, 16]]), array([[11, 12, 13]]), array([[14, 15, 16]])]

# Searching and Replacing Array Values

In [18]:
result_1 = np.where(arrA % 2 == 0, arrA, 'odd') # replacing any odd numbers with 'odd' string
print(result_1)

[['odd' '12' 'odd']
 ['14' 'odd' '16']]

# Sorting and Filtering Arrays

In [22]:
# using 2D arrays to sort the includded values
arrB = np.array([[7, 6], [13, 5], [7, 3]])
arrB_sorted = np.sort(arrB)
print(arrB_sorted)

[[ 6  7]
 [ 5 13]
 [ 3  7]]

In [23]:
# filtering values less than 7 
z = arrB < 7
arrC = arrB[z]
print(arrC)

[6 5 3]

In [24]:
# filtering values greater than 7 
y = arrB >= 7
arrD = arrB[y]
print(arrD)

[ 7 13  7]