In [2]:
import numpy as np
import pandas as pd

# Series

In [3]:
# four new vari 
aa = [1, 2, 3, 4]
ab = (5, 6, 7, 8)
ac = {9, 10, 11, 12}
ad = {'first': 13, 'second': 14, 'third': 15, 'fourth': 16}

In [4]:
# creating ser and assign to each
ser1 = pd.Series(aa)
ser2 = pd.Series(ab)
ser3 = pd.Series(list(ac))  
ser4 = pd.Series(ad)

In [5]:
# Print Series
print(ser1)
print(ser2)
print(ser3)
print(ser4)

0    1
1    2
2    3
3    4
dtype: int64
0    5
1    6
2    7
3    8
dtype: int64
0     9
1    10
2    11
3    12
dtype: int64
first     13
second    14
third     15
fourth    16
dtype: int64

In [6]:
# new variable named ser5 for 17-20
ser5 = pd.Series(17, 18, 19, 20)
#  This caused a TypeError because the function requires keyword arguments for data, index, and data type.

TypeError: Index(...) must be called with a collection of some kind, 18 was passed

# DataFrames from Series

In [ ]:
# using dataframe for ser1
df1 = pd.DataFrame(ser1)
df1.columns = ['column 1']
df1

# Adding more columns using ser2 and ser3
df1.insert(1, 'column 2', ser2)
df1.insert(2, 'column 3', ser3)
df1

In [ ]:
df1['column 4'] = ser4.values # added .values to removes NaN values present in column 4
df1

In [ ]:
df1.loc[4] = [5, 9, 12, 0]
df1

# Reading Data into a Dataframe

In [ ]:
# df2 to read sakila 
df2 = pd.read_csv('sakila_example.csv')
df2

In [ ]:
# first top 5 records
df2.head(5)

In [ ]:
# last 10 records
df2.tail(10)

In [ ]:
# showing a summary 
df2.info()

## Info() Results
### 262 rows, 5 columns and they're non null values

In [ ]:
#  column stats 
df2.describe()

## Describe() results
### Only English, most frequent actor is present 8 times, dataset has no missing values in 262 rows

In [ ]:
# load the csv file
df3 = pd.read_csv('northwind_example.csv')
df3

In [ ]:
# show column stat 
df3.describe()

## Describe() results
### showing count, mean, std, min and all forms of calc

# Coding a DataFrame

In [8]:
# test_data 
test_data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Name': ['Alicia', 'Bob', 'Charlie', 'Dominic', 'Eve', 'Frank', 'Grace', 'Heidi'],
    'Age': [25, None, 22, 19, 31, 35, None, 18],
    'City': ['NY', 'LA', 'Chicago', 'Houston', 'Phoenix', 'Boston', 'Austin', 'San Diego'],
    'Score': [85, 92, -1, 65, 78, None, 55, 90]
}

df4 = pd.DataFrame(test_data)
df4

   ID     Name   Age       City  Score
0   1   Alicia  25.0         NY   85.0
1   2      Bob   NaN         LA   92.0
2   3  Charlie  22.0    Chicago   -1.0
3   4  Dominic  19.0    Houston   65.0
4   5      Eve  31.0    Phoenix   78.0
5   6    Frank  35.0     Boston    NaN
6   7    Grace   NaN     Austin   55.0
7   8    Heidi  18.0  San Diego   90.0

In [10]:
df4.to_csv('test_data.csv', index = False)